.bundle/
.DS_Store

log/*.log
pkg/
tmp/**/*
# due to Could not find rake-* in any of the sources
Gemfile.lock
.idea/

spec/dummy/tmp/**/*

spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/

# It's important that when developing, you start from a fresh install
spec/dummy/app/views/api_authentication/
spec/dummy/config/initializers/api_authentication.rb
spec/dummy/db/migrate/*api_authentication*
spec/dummy/db/schema.rb
