---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=token&fields=id,email,birthday,name,first_name,last_name,picture.width(300).height(300)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"BfDzYGO+w8H"}}'
  recorded_at: Fri, 17 May 2019 15:13:16 GMT
recorded_with: VCR 4.0.0
